@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap');

@font-face {
  font-family: 'Nocturne Kraft';
  src: url('/fonts/nocturne_kraft/Nocturne Kraft.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Heuvel Grotesk';
  src: url('/fonts/heuvel_grotesk/HeuvelGroteskDEMO-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0000-002F, U+003A-10FFFF;
}

@font-face {
  font-family: 'Heuvel Grotesk';
  src: url('/fonts/heuvel_grotesk/HeuvelGroteskDEMO-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0000-002F, U+003A-10FFFF;
}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-primary);
  }
}

@theme {
  --font-primary: 'Nocturne Kraft', sans-serif;
  --font-secondary: 'Heuvel Grotesk', 'Space Grotesk', sans-serif;
  --font-sans: 'Heuvel Grotesk', 'Space Grotesk', sans-serif;
  
  --color-primary: #00d2ff;
  --color-secondary: #0a1128;
  --color-background: #121e3d;
  --color-green: #0088cc;
  --color-red: #ff4500;

  @keyframes marquee {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-50%);
    }
  }

  @keyframes marquee-reverse {
    0% {
      transform: translateX(-50%);
    }

    100% {
      transform: translateX(0);
    }
  }

  --animate-marquee: marquee 20s linear infinite;
  --animate-marquee-reverse: marquee-reverse 30s linear infinite;
}

@layer utilities {
  .pause-on-hover:hover {
    animation-play-state: paused;
  }

  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-none {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}