@import url('https://api.fontshare.com/v2/css?f[]=satoshi@400,500,700&display=swap');
@import "tailwindcss";

@font-face {
  font-family: 'Nocturne';
  src: url('/fonts/nocturne_kraft/Nocturne%20Kraft.otf') format('opentype'),
       url('/fonts/nocturne_kraft/Nocturne%20Kraft.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-sans: 'Satoshi', sans-serif;
  --font-heading: 'Nocturne';
  
  --color-primary: #68cc60;
  --color-secondary: #0e1028;
  --color-background: #0e1028;
  --color-green: #0088cc;
  --color-red: #DA291C;

  @keyframes marquee {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-50%);
    }
  }

  @keyframes marquee-reverse {
    0% {
      transform: translateX(-50%);
    }

    100% {
      transform: translateX(0);
    }
  }

  --animate-marquee: marquee 20s linear infinite;
  --animate-marquee-reverse: marquee-reverse 30s linear infinite;
}

@layer utilities {
  .pause-on-hover:hover {
    animation-play-state: paused;
  }

  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-none {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}